.container {
  width: 160px;
  height: 160px;
  background-color: white;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.container:hover {
  background-color: #ff6347;
}

img {
  width: 40px;
}

.filter {
  width: fit-content;
  height: fit-content;
  padding: 0.5rem 1rem;
  background-color: transparent;
}

.active {
  background-color: #ffbbaf;
  border: 1px solid #ff6347;
}
