form {
  display: flex;
  flex-direction: row;
  height: 3rem;
  max-width: 25rem;
}

input {
  border-radius: 45px 0 0 45px;
  flex-grow: 2;
  border: none;
  font-size: 1.2rem;
}

input:focus {
  outline: none;
}

.inputBtn {
  border: none;
  background: white;
  border-radius: 0 60px 60px 0;
  color: #898a8d;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 1rem;
  cursor: pointer;
}

.inputBtn:hover {
  color: #ff6d53;
}
